<div id=chat-plugin style="position:relative">
<h3>Чат</h3>
<form method=post target=chat-plugin-messages id=chat-plugin-form
onsubmit=""
action="<%= url_for :controller => 'chat', :action => 'list', :project => @project %>">
<%= token_tag nil %>
<input type=text name=text><input type=submit>
</form>
<iframe id=chat-plugin-messages name=chat-plugin-messages frameborder=no seamless width=100% height=400px scrolling=no
src="<%= url_for :controller => 'chat', :action => 'list', :project => @project %>">
</iframe>
<script type="application/javascript">
  function chat_new_success (r) {
          $("#chat-plugin-form input[name=text]").val('');
          $('#ajax-indicator').hide();
  }

  $("#chat-plugin-form").submit(function(e){
      $.ajax({
          type:"POST",
          data: $("#chat-plugin-form").serialize(),
          dataType: 'json',
          url: "<%= url_for :controller => 'chat', :action => 'list', :project => @project %>",
          success: chat_new_success//,
//          error: chat_new_success
      });
      e.preventDefault();
      return false;
  });

  $('#chat-plugin-messages').remove();
  $('#chat-plugin').append('<div id=chat-plugin-messages >&nbsp;</div>');
    $.ajax({
        url: "<%= url_for :controller => 'chat', :action => 'list', :project => @project %>"
    });
</script>
</div>
